@use './imgs';

.me {
  display: grid;
  grid-template-areas:
    'avatar info'
    'none content';
  grid-template-columns: 50px 1fr;
  gap: 10px;

  .avatar {
    grid-area: avatar;
  }

  .info {
    grid-area: info;
  }

  .mainContent {
    grid-area: content;
  }
}
