@use '../../assets/styles/components/avatar';

.container {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  .info {
    margin-left: 10px;
    margin-top: 10px;
    width: 30%;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    & > div {
      margin: 0;
    }
  }

  .content {
    margin-left: 10px;
  }

  .footer {
    display: flex;
    margin-left: 10px;
    gap: 30px;

    .fItem {
      display: flex;
      width: 40px;
      gap: 10px;
    }
  }
}
